*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 115%;
    color:white;
    background-image: url('./image/bluesmoke.png');
    background-size: cover;
    background-position: center;
    margin:0;
}





#gameboard {
  width: 90vmin;
  height: 90vmin;
  /* color of the background of chess board */
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(157, 157, 149);
  border: inset 8px goldenrod;
  max-width: 90vw;
  /* max-height: 90vw; */
  aspect-ratio: 1 / 1;
}

.square {
  height:12.5%;
  width: 12.5%;
  position: relative;
}
.square svg {
  height: 75%;
  width: 75%;
  margin: 12.5%;
  position: relative;
  z-index: -9;
}
path {
  position: relative;
  z-index: -10;
}

.piece {
  position: relative;
  z-index: 9;
}



.beige {
  background-color: rgb(110, 110, 98);
}

.brown {
  background-color: rgb(169, 43, 43);
}
.black {
  fill: black;
}
.white {
  fill: rgb(255, 255, 255);
}
#player, #info-display{
    font-size: 1.2em;
    margin:10px;
    text-align: center;
}

@media(max-width: 600px){
#gameboard{
    width:95vw;
    height:95vw
}
}

